body {
    font-family: Arial, sans-serif;
    background-image: url('clannad.jpeg'); /* Set the background image path */
    background-size: cover; /* Cover the entire body element */
    background-repeat: no-repeat; /* Prevent image repetition */
    background-attachment: fixed; /* Keep the background fixed while scrolling */
    margin: 0;
    padding: 0;
}



.container {
    background-color: #fff;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #0074d9;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
    display: inline-block;
    width: 200px;
}

input[type="number"],
select,
input[type="checkbox"] {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

input[type="checkbox"] {
    margin-top: 5px;
}

button {
    padding: 10px 15px;
    background-color: #0074d9;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}
